@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  margin-top: 100px;
}

.filter-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.main-filter-button {
  margin-left: 16px;
  padding: 8px 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.main-filter-button:hover {
  background-color: #e6e6e6;
  border-radius: 8px;
  color: #4150f5;
}

.banner {
  background-color: #323da3;
  max-width: 100%;
  border-radius: 10px;
  padding: 32px;
  margin: 32px 0;
  position: relative;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-header {
  margin: 10px 0;
}

.banner-header .banner-title {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.campaign-image {
  height: 193px;
  width: 420px;
  margin: 10px 0;
}

.banner-secondary-content {
  color: white;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
}

.call-to-action-banner {
  background-color: #f9f9f9;
  border-radius: 10px;
  color: black;
  padding: 30px 60px;
  margin: 20px;
  text-align: center;
}

.call-to-action-banner .call-to-action-link {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.close-banner-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 32px;
  top: 16px;
}

header {
  background-color: white;
  padding-bottom: 60px;
}

.navbar {
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container {
  position: relative;
}

.form-control {
  padding: 7px 180px 7px 12px;
  border: 1px solid #dbdbdb;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #3b49df;
}

.input-button {
  position: absolute;
  top: 6px;
  right: 8px;
  bottom: 16px;
  background-color: transparent;
  border: none;
}

.rigth-nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-post-button {
  background-color: #3b49df;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 8px;
}

.create-post-button:hover {
  color: white;
  background-color: #323ebe;
  text-decoration: none;
}

.nav-notifications-container,
.nav-comments-container,
.search-icon-container {
  background-color: transparent;
  border: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 8px;
  cursor: pointer;
}

.hamburguer-menu-container {
  background-color: transparent;
  border: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s ease-in;
          transition-duration: 0.2s ease-in;
}

.hamburguer-menu-container:hover {
  background-color: #f6f6f6;
}

.hamburguer-icon {
  max-width: 100%;
  width: 25px;
  height: 25px;
}

.nav-comments-container,
.nav-notifications-container,
.search-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-notifications-container:hover,
.nav-comments-container:hover,
.search-icon-container:hover {
  background-color: #f6f6f6;
}

.badge {
  top: 16;
  right: 26;
  bottom: 70;
}

.profile-pic-container {
  background-color: transparent;
  border: 50%;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  margin: 0 8px;
  cursor: pointer;
  border: 2px solid gray;
  padding: 2px;
}

.profile-pic-container .profile-picture {
  max-width: 100%;
  border-radius: 50%;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
  margin: 5px;
}

.drop-user,
.drop-settings {
  border-bottom: 1px solid #c7c7c7;
  width: 240px;
}

.drop-link {
  border-radius: 10px;
  padding: 10px 10px;
  margin: 5px;
}

.drop-link:hover {
  background-color: #f2f2f2;
}

.username {
  font-weight: 700;
  color: #323da3;
  font-size: 1.3rem;
}

.search-form {
  position: relative;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 7px 8px;
  margin: 12px 0px;
  height: 40px;
  width: 420px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.input-button {
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 8px 8px;
  height: 40px;
  width: 32px;
  background-color: transparent;
  border: none;
}

#search:focus {
  background-color: #ffffff;
  border: 2px solid #4150f5;
  border-radius: none;
  outline: none;
}

.leftbar {
  background-color: transparent;
}

.leftbar-contenido {
  border-radius: 10px;
  background-color: transparent;
  margin: 10px;
}

.leftbar-contenido .txth2 {
  font-size: 16px;
  font-weight: 700;
}

.leftbar-links, .img-leftbar {
  max-width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.leftbar-links .left-link, .img-leftbar .left-link {
  text-decoration: none;
  font-weight: 600;
  color: #242424;
}

.book {
  color: #323ebe;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.leftbar-links:hover {
  background: #0909090d;
  color: #323ebe;
  border-radius: 10px;
  -webkit-transition: all 300ms cubic-bezier(0.17, 0.67, 0.5, 0.71);
  transition: all 300ms cubic-bezier(0.17, 0.67, 0.5, 0.71);
}

.icons-social-lefbar a {
  margin: 8px;
  cursor: pointer;
}

.icons-social-lefbar a svg {
  fill: #717171;
}

.icons-social-lefbar a:hover svg {
  fill: #575757;
}

.my-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border-radius: 8px;
  width: 100%;
  background-color: white;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .image-container {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.card .image-container .post-image {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.card .author-info-container {
  color: black;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card .post-title-container {
  padding: 0px 32px;
}

.card .post-title-container .post-title {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
}

.card .post-title:hover {
  color: #323ebe;
}

.card .tags-container {
  color: gray;
  text-align: left;
  padding: 8px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .tags-container .tag {
  margin: 0 8px;
}

.card .delete-post {
  border: none;
  border-radius: 8px;
  max-width: 75%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 8px 16px;
  margin: 16px 32px 16px 0px;
}

.card .post-body {
  display: none;
}

.articles {
  background-color: transparent;
}

.articles ul {
  margin-bottom: 5px;
  padding-left: 0.3rem;
}

.pic {
  width: 40px;
  border-radius: 50px;
  margin: 0;
}

.profile {
  padding: 0;
}

.profile p {
  margin: 0 0 2px 20px;
}

.post-card {
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  border: solid #b4b0b0 0.05px;
  padding: 0 0 15px 0;
}

.name {
  font-size: 1.1em;
  color: black;
  font-weight: 500;
}

.date {
  font-size: 0.8em;
  color: gray;
}

.note {
  padding: 10px 50px;
}

.note .links {
  padding-top: 10px;
}

.note .bottom {
  padding: 0;
}

.bottom {
  margin: 25px 0 0 0;
}

.title {
  font-size: 1.7em;
  font-weight: bolder;
  color: black;
  padding-bottom: 10px;
}

.title:hover {
  color: #323ebe;
}

.liga {
  color: gray;
}

.liga:hover {
  color: black;
}

.implinks {
  color: #242323;
  padding: 10px;
  font-size: 0.8em;
}

.implinks:hover {
  color: black;
  border-radius: 5px;
  background: #efefef;
}

.time {
  color: gray;
  font-size: 0.8em;
  margin: 8px 0 0 12%;
  padding-top: 6px;
  display: inline-block;
}

.save {
  display: inline-block;
  padding: 3px 8px;
  color: black;
  background: #c9c5c5;
  border-radius: 5px;
  margin-left: 5px;
}

.save:hover {
  background: gray;
}

.corner {
  padding: 0;
}

.post-card2 {
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  border: solid #b4b0b0 0.05px;
  margin-top: 10px;
}

.card-nav {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  padding: 12px 15px;
}

.card-link {
  position: relative;
  color: black;
}

.card-link-variant {
  position: relative;
  color: black;
  font-weight: 500;
  font-size: 1.4em;
}

.card-nav:hover {
  background-color: #cbcbce;
}

.card-img {
  margin-bottom: 20px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-variant {
  padding: 0 20px;
}

.card-variant {
  padding: 0 20px 0 20px;
}

.rightbar {
  background-color: transparent;
  height: auto;
  max-width: 100%;
}

.card1 {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 3%;
  color: black;
  margin-bottom: 20px;
  max-width: 100%;
}

.card1 .text-a-href {
  color: black;
}

.card1 .link-card1 {
  color: #616ce4;
  text-decoration: none;
}

.card-listings {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 3%;
  color: black;
  margin-bottom: 20px;
}

.card-listings .header-listings {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.card-listings .text-a-href {
  color: black;
  text-decoration: none;
}

.card-listings .link-card1 {
  color: #616ce4;
  text-decoration: none;
}

.card-listings .body-listings {
  color: #616ce4;
  text-decoration: none;
  color: black;
}

.card-listings .link-listings {
  display: block;
  color: #616ce4;
  text-decoration: none;
  color: black;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.card-listings .link-listings:hover {
  background-color: white;
  color: #616ce4;
}

.card-listings .letras-grises-bajo {
  color: #616161;
}

.card-listings .create-listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.card-listings .create-listings:hover {
  background-color: white;
  color: #616ce4;
}

.card-listings .news-style {
  color: black;
  text-decoration: none;
  margin-bottom: 16px;
}

.card-listings .boton-morado {
  background-color: #323da3;
  color: #efefef;
  border-radius: 20%;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 18px;
}

.header-listings {
  background-color: transparent !important;
}

.post-leftbar {
  min-height: 400px;
  background-color: transparent;
}

.reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding-left: 15px;
  font-size: 0.875rem;
}

.post-articles {
  background-color: transparent;
}

.main-post {
  border-radius: 10px;
  width: 100%;
  background-color: white;
  margin-bottom: 48px;
}

.main-post .post-image {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.post-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-header-container .post-header {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 40px;
}

.post-header-container .hashtags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 50px;
}

.post-header-container .hashtags-container .post-hashtag {
  margin-right: 10px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.post-header-container .hashtags-container .javascript-hashtag {
  background-color: yellow;
  color: black;
}

.post-header-container .hashtags-container .react-hashtag {
  background-color: black;
  color: aqua;
}

.post-header-container .hashtags-container .vue-hashtag {
  background-color: green;
  color: white;
}

.post-header-container .hashtags-container .programming-hashtag {
  background-color: red;
  color: white;
}

.author-info-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 20px 0 10px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.author-info-container .author-image {
  border: 50%;
  border-radius: 50px;
}

.author-info-container .author-link {
  text-decoration: none;
  background-color: #cfcfcf;
  color: black;
  padding: 10px 10px;
  border-radius: 10px;
}

.author-info-container .author-info {
  display: inline-block;
}

.post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px;
  font-size: 1.125rem;
}

.post-body-paragraph {
  font-weight: 400;
  color: black;
  font-size: 1.2rem;
  text-align: left;
}

.post-body-title {
  font-size: 2rem;
  font-weight: 700;
}

.title-image-container {
  width: 100%;
  margin: 20px 0;
}

.title-image-container .title-image {
  max-width: 100%;
}

.post-body-subtitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.imageurl {
  width: -webkit-fill-available;
}

.autor {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 20px 0 0px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
}

.fecha {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  margin-left: 50px;
  color: #717171;
}

.titulo {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 0.75rem;
}

.contenido-post {
  word-break: break-all;
}

.button-editar {
  background-color: #3b49df;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 8px;
  border: transparent;
}

.button-editar:hover {
  color: white;
  background-color: #323da3;
  text-decoration: none;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: revert;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0px 10px 10px 0px;
}

.post-rightbar {
  min-height: 400px;
  background-color: transparent;
}

.card-rightbar {
  border-top: 2rem solid  #0000e0;
  width: 20rem;
  border-radius: 0.375rem;
}

.profile-pic-container {
  background-color: transparent;
  border: 50%;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  margin: 0 8px;
  cursor: pointer;
  border: 2px solid gray;
  padding: 2px;
}

.profile-pic-container .profile-picture {
  max-width: 100%;
  border-radius: 50%;
}

.overlay-author {
  position: absolute;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  right: 0;
  left: 70px;
  top: -4px;
  bottom: 0;
}

.follow-btn {
  background-color: #3b49df;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 14px;
  border-radius: 5px;
  width: 280px;
  border: transparent;
  font-weight: 500;
}

.follow-btn:hover {
  color: white;
  background-color: #323da3;
  text-decoration: none;
}

.list-dummy-info {
  padding-left: 5px;
}

.header-info {
  font-size: 0.75rem;
  font-weight: 700;
  color: #717171;
}

.footer {
  background-color: #d6d6d7;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.footer .footer-content .footer-1 {
  text-align: center;
}

.footer .footer-content .footer-1 .footer-link {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.footer .footer-content .footer-2 {
  text-align: center;
}

.footer .footer-content .footer-2 .footer-link {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

@media (max-width: 750px) {
  .form-container {
    display: none;
  }
  .banner-title {
    font-size: 1rem;
  }
  .banner-secondary-content {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .call-to-action-banner {
    padding: 10px 10px;
  }
  .call-to-action-banner .call-to-action-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
  }
}

@media (min-width: 750px) {
  .search-icon-container {
    display: none;
  }
  .hamburguer-menu {
    display: none;
  }
}

@media (max-width: 990px) {
  .create-post-button {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .leftbar {
    display: none;
  }
}

@media (max-width: 795px) {
  .leftbar {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 754px) {
  .profile {
    padding: 0 20px;
  }
  .icon-text {
    display: none;
  }
  .implinks {
    padding: 0;
  }
}

@media (max-width: 967px) {
  .rightbar {
    display: none;
  }
}

@media (min-width: 750px) and (max-width: 1100px) {
  .rightbar {
    display: none;
  }
}

@media (min-width: 750px) and (max-width: 1100px) {
  .implinks {
    padding: 0;
    font-size: 0.6em;
  }
}

body {
  background-color: #ecebeb;
}

.tag {
  height: 40px;
  padding: 10px 20px;
}

.tag:hover {
  background-color: #fff;
  border-radius: 10px;
}

body {
  background-color: #EFEFEF !important;
}

body #new-title {
  font-size: 56px;
  font-weight: bolder;
  border: none;
  margin-left: 30px;
}

body #name-tag {
  border: none;
  margin-left: 30px;
  font-size: 32px;
}

body #image-url {
  border: none;
  margin-left: 30px;
  font-size: 24px;
  margin-bottom: 5px;
}

body #post-container {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 15px;
}

body #post-container #post-content {
  height: 400px;
  border: none;
}

body #post-container {
  margin-left: 10%;
  width: 70%;
  margin-right: 20%;
}

body #post-card {
  width: 70%;
}

header {
  padding-bottom: 0px;
  background: #EFEFEF;
  border-bottom: 15px;
}

header .navbar {
  border-bottom: none;
}

header .bg-light {
  --bs-bg-opacity: 0;
}

header #nav-container {
  margin-left: 10%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer #footer-buttons {
  margin-left: 11%;
  width: 70%;
  margin-right: 20%;
}

footer .btn {
  margin-right: 30px;
}

.new-title {
  font-size: 32px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
