// Variables Globales
$mainBackgroundColor: #efefef;
$columnBackgroundColor: transparent;

$footerBackgroundColor: #d6d6d7;
$mainWebsiteFont: "Roboto", sans-serif;

// Variables de Daniel

// Variables de Brisah
$primary-color: #f9f9f9;
$secondary-color: #3b49df;
// Variables de Omar
$sidebarrightbgcolor: #f9f9f9;
$linkfontcolorsbr:#616ce4;
$colorfuentegris:#616161;
// Variables de German 
$bannerBackground: #323da3;
